/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 
My CSS Start
*/ 

html {
    min-height: 100%;
    min-width: 100%;
    font-family: 'Nova Flat', cursive;
}

div,
h1,
form,
input {
    height: 10vw;
    font-size: 5vw;
    color: #fff;
    padding: 10px;
    margin: 0;
    transition: all .5s ease;
    line-height: 10vw;
}

img {
  float: right;
  height: 10vw;
  line-height: 10vw;
}

input,
input:focus {
    background-color: transparent;
    border: none;
    outline-width: 0;
    box-sizing: border-box;
    width: 90vw;
    font-family: 'Nova Flat', cursive;
}

footer {
    height: 10vw;
    font-size: 4vw;
    line-height: 10vw;
    color: #32b643;
    padding: 10px;
    margin: 0;
    background-color: #cbedd0;
    text-align: center;
}

a {
    color: #32b643;
    text-decoration: none;
}

a:hover,
a:active {
    color: #32b643;
    text-decoration: underline;
}

::placeholder {
    color: #ffffff;
}

.deleteButton {
    display: none;
}

div:hover .deleteButton {
    display: inline-block;
}
